<div class="product-details" *ngIf="product">
  <h2>{{product.name}} details</h2>
  <div>
    <img id="mainImage" src="{{mainImageUrl}}" class="img-responsive" alt="Main product image" />
    <label>Main Image: </label>
    <div class="input-div">
      <input (change)="onMainImageChange()" type="file" id="mainImagePicker">
    </div>
    <label>name: </label>
    <div class="input-div">
      <input [(ngModel)]="product.name" placeholder="name">
    </div>
    <label>decription: </label>
    <div class="input-div">
      <textarea style="height:3em;" [(ngModel)]="product.description" placeholder="decription"></textarea>
    </div>
    <label>price: </label>
    <div class="input-div">
      <input [(ngModel)]="product.price" placeholder="price">
    </div>

    <ul class="product-images">
      <li *ngFor="let productImage of productImages">
        <img id="mainImage" src="{{baseUrl + productImage.Key}}" class="img-responsive" alt="product image" />
        <button (click)="deleteImage()">-</button>
        <button (click)="moveImageUp(productImage._id)">Up</button>
        <button (click)="moveImageDown(productImage._id)">Down</button>
      </li>
    </ul>


  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="deleteMainImage()">Delete Main Image</button>
  <button (click)="addImage()">Add Image</button>
</div>
