// component styles are encapsulated and only applied to their components
.home-text {
  color: #ff0000;
}

.buy-now-button {
  font-size: 0.8em;
  font-style: italic;
  background-color: bisque;
  color: black;
  font-weight: bold;
}
